n8n-multimodal-workflow.json
{
  "name": "AI Agent Multimodal Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent-fiable",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "ai-agent-fiable"
    },
    {
      "parameters": {
        "jsCode": "// Validation de l'entrée\nconst body = $input.item.json.body;\n\nif (!body) {\n  throw new Error('Le corps de la requête est vide');\n}\n\nif (!body.message || typeof body.message !== 'string' || body.message.trim() === '') {\n  return {\n    json: {\n      success: false,\n      error: 'Le champ \"message\" est requis et doit être une chaîne de caractères',\n      errorCode: 'MISSING_MESSAGE',\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...body,\n    message: body.message.trim(),\n    isValid: true\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "validate-input",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "id": "input-valid",
      "name": "Input Valid?"
    },
    {
      "parameters": {
        "jsCode": "// Détection du type d'entrée et extraction des métadonnées\nconst input = $input.item.json;\nconst message = input.message || '';\n\n// Détection du type\nlet inputType = 'text';\nlet command = null;\nlet prompt = message;\n\n// Commandes spéciales\nif (message.startsWith('/image ')) {\n  inputType = 'image-generation';\n  command = 'image';\n  prompt = message.substring(7).trim();\n} else if (message.startsWith('/search ')) {\n  inputType = 'web-search';\n  command = 'search';\n  prompt = message.substring(8).trim();\n} else if (message.startsWith('/video ')) {\n  inputType = 'video-generation';\n  command = 'video';\n  prompt = message.substring(7).trim();\n} else if (input.file) {\n  inputType = 'file-analysis';\n  command = 'analyze';\n}\n\nreturn {\n  json: {\n    ...input,\n    inputType: inputType,\n    command: command,\n    prompt: prompt,\n    originalMessage: message,\n    hasFile: !!input.file,\n    fileType: input.file?.type || null,\n    fileName: input.file?.name || null\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 180],
      "id": "detect-input-type",
      "name": "Detect Input Type"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.inputType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.inputType }}",
                    "rightValue": "image-generation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.inputType }}",
                    "rightValue": "file-analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.inputType }}",
                    "rightValue": "web-search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1120, 180],
      "id": "router-multimodal",
      "name": "Router Multimodal"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [1340, 60],
      "id": "ai-agent-text",
      "name": "AI Agent (Text)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1340, 240],
      "id": "anthropic-model",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "jsCode": "// Format response for image generation request\nconst input = $input.item.json;\n\nreturn {\n  json: {\n    success: false,\n    type: 'info',\n    content: {\n      message: 'La génération d\\'images n\\'est pas encore configurée. Veuillez ajouter une clé API DALL-E ou Stable Diffusion.',\n      prompt: input.prompt,\n      suggestedAction: 'Configurez un service de génération d\\'images dans le workflow N8N'\n    },\n    inputType: input.inputType,\n    timestamp: new Date().toISOString()\n  }\n};\n\n// Pour activer la génération d'images, ajoutez un nœud HTTP Request ici\n// avec l'API DALL-E ou Stable Diffusion"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 180],
      "id": "image-placeholder",
      "name": "Image Generation (Placeholder)"
    },
    {
      "parameters": {
        "jsCode": "// Format response for file analysis\nconst input = $input.item.json;\n\nreturn {\n  json: {\n    success: false,\n    type: 'info',\n    content: {\n      message: 'L\\'analyse de fichiers n\\'est pas encore configurée. Ajoutez une API Vision (GPT-4V, Claude Vision).',\n      fileName: input.fileName,\n      fileType: input.fileType,\n      suggestedAction: 'Configurez un service d\\'analyse d\\'images dans le workflow N8N'\n    },\n    inputType: input.inputType,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "id": "file-analysis-placeholder",
      "name": "File Analysis (Placeholder)"
    },
    {
      "parameters": {
        "jsCode": "// Format response for web search\nconst input = $input.item.json;\n\nreturn {\n  json: {\n    success: false,\n    type: 'info',\n    content: {\n      message: 'La recherche web n\\'est pas encore configurée. Ajoutez une clé API Serper ou Google Search.',\n      query: input.prompt,\n      suggestedAction: 'Configurez un service de recherche web dans le workflow N8N'\n    },\n    inputType: input.inputType,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 420],
      "id": "search-placeholder",
      "name": "Web Search (Placeholder)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1560, 180],
      "id": "merge-responses",
      "name": "Merge Responses"
    },
    {
      "parameters": {
        "jsCode": "// Format la réponse en format multimodal\nconst input = $input.item.json;\n\n// Déterminer le type de réponse\nlet responseType = 'text';\nlet content = input.output || input.text || input.content || input;\nlet success = true;\n\n// Si c'est une réponse d'AI Agent\nif (input.output) {\n  responseType = 'text';\n  content = input.output;\n}\n\n// Si c'est une image\nif (input.imageUrl || input.image_url) {\n  responseType = 'image';\n  content = {\n    url: input.imageUrl || input.image_url,\n    description: input.description || input.prompt || 'Image générée'\n  };\n}\n\n// Si c'est une vidéo\nif (input.videoUrl || input.video_url) {\n  responseType = 'video';\n  content = {\n    url: input.videoUrl || input.video_url,\n    description: input.description || input.prompt || 'Vidéo générée'\n  };\n}\n\n// Si c'est un audio\nif (input.audioUrl || input.audio_url) {\n  responseType = 'audio';\n  content = {\n    url: input.audioUrl || input.audio_url,\n    description: input.description || 'Audio généré'\n  };\n}\n\n// Si c'est une erreur ou info\nif (input.type === 'info' || input.type === 'error') {\n  responseType = input.type;\n  success = input.success !== false;\n}\n\nreturn {\n  json: {\n    success: success,\n    type: responseType,\n    content: content,\n    metadata: {\n      inputType: input.inputType || 'text',\n      originalMessage: input.originalMessage || input.message,\n      processingTime: input.processingTime || null,\n      model: input.model || 'claude-sonnet-4.5'\n    },\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 180],
      "id": "format-multimodal-response",
      "name": "Format Multimodal Response"
    },
    {
      "parameters": {
        "jsCode": "// Validation de la sortie\nconst output = $input.item.json;\n\n// Vérifier que la réponse a le bon format\nif (!output.type) {\n  throw new Error('Le type de réponse est manquant');\n}\n\nif (!output.content) {\n  throw new Error('Le contenu de la réponse est manquant');\n}\n\n// Validation selon le type\nif (output.type === 'image') {\n  if (typeof output.content !== 'object' || !output.content.url) {\n    throw new Error('URL d\\'image manquante ou format invalide');\n  }\n}\n\nif (output.type === 'video') {\n  if (typeof output.content !== 'object' || !output.content.url) {\n    throw new Error('URL de vidéo manquante ou format invalide');\n  }\n}\n\nif (output.type === 'text' && typeof output.content !== 'string' && typeof output.content !== 'object') {\n  throw new Error('Contenu texte invalide');\n}\n\nreturn { json: output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 180],
      "id": "validate-output",
      "name": "Validate Output"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2220, 180],
      "id": "success-response",
      "name": "Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Validation échouée\", \"errorCode\": \"VALIDATION_FAILED\", \"timestamp\": $now.toISO() } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [900, 420],
      "id": "error-response-validation",
      "name": "Error Response (Validation)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"type\": \"error\", \"content\": { \"message\": $json.error?.message || \"Une erreur est survenue lors du traitement\", \"errorCode\": \"PROCESSING_ERROR\" }, \"timestamp\": $now.toISO() } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [2220, 360],
      "id": "fallback-response",
      "name": "Fallback Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Detect Input Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response (Validation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Input Type": {
      "main": [
        [
          {
            "node": "Router Multimodal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Multimodal": {
      "main": [
        [
          {
            "node": "AI Agent (Text)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generation (Placeholder)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Analysis (Placeholder)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web Search (Placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Text)": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation (Placeholder)": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Analysis (Placeholder)": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search (Placeholder)": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Format Multimodal Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Multimodal Response": {
      "main": [
        [
          {
            "node": "Validate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Output": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Text)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "multimodal-v1",
  "meta": {
    "instanceId": "custom-multimodal-workflow"
  },
  "id": "multimodal-ai-agent",
  "tags": [
    {
      "name": "AI",
      "id": "ai"
    },
    {
      "name": "Multimodal",
      "id": "multimodal"
    }
  ]
}
