workflow-2-watcher-final.json
{
  "name": "Video Watcher - Polling (FINAL)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nivbykzatzugwslnodqi.supabase.co/rest/v1/video_tasks?status=eq.processing&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_1zpjTYfnH8i2lfX3kcinFQ_l7TD20AO"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_1zpjTYfnH8i2lfX3kcinFQ_l7TD20AO"
            }
          ]
        },
        "options": {}
      },
      "id": "get-processing-1",
      "name": "GET Vidéos Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "split-1",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "=https://api.replicate.com/v1/predictions/{{ $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token VOTRE_TOKEN_REPLICATE_ICI"
            }
          ]
        },
        "options": {}
      },
      "id": "check-replicate-1",
      "name": "Check Replicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "succeeded"
            }
          ]
        }
      },
      "id": "if-succeeded-1",
      "name": "IF Succeeded",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nivbykzatzugwslnodqi.supabase.co/rest/v1/video_tasks?task_id=eq.{{ $('Split Into Items').item.json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_1zpjTYfnH8i2lfX3kcinFQ_l7TD20AO"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_1zpjTYfnH8i2lfX3kcinFQ_l7TD20AO"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"video_url\": \"{{ $json.output[0] || $json.output }}\",\n  \"completed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "update-completed-1",
      "name": "UPDATE Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "failed"
            }
          ]
        }
      },
      "id": "if-failed-1",
      "name": "IF Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nivbykzatzugwslnodqi.supabase.co/rest/v1/video_tasks?task_id=eq.{{ $('Split Into Items').item.json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_1zpjTYfnH8i2lfX3kcinFQ_l7TD20AO"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_1zpjTYfnH8i2lfX3kcinFQ_l7TD20AO"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"failed\",\n  \"completed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "update-failed-1",
      "name": "UPDATE Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET Vidéos Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Vidéos Processing": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Check Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Replicate": {
      "main": [
        [
          {
            "node": "IF Succeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Succeeded": {
      "main": [
        [
          {
            "node": "UPDATE Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Failed": {
      "main": [
        [
          {
            "node": "UPDATE Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-24T03:00:00.000Z",
  "versionId": "1"
}
